body{
    background-color: #FCECCF;
    padding: 2rem 2rem 2rem 2rem;
}


header{
    background-color: #FF6F61);
    border: 2px solid rgb(205, 180, 163);
    text-align: center;
    padding: 1rem 1rem;
    margin: 1rem 1rem 1rem 1rem;
}

section{
    background-color: #2EC4B6;
    border-radius: 2rem;
}

h2{
    text-align: center;
    padding-bottom: 1rem;
}


li{
    background-color: darkcyan;
    color: yellow;
    border: 2px solid darkcyan;
    border-radius: 1rem;
    width: fit-content;
    
}

ul{
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;
}

.img-wrapp{
    text-align: center;
    padding-top: 1rem;
}

