body{
    background-color: #FCECCF;
    
}


.head{
    background-color: #FF6F61;
    border: 2px solid rgb(205, 180, 163);
    text-align: center;
    margin: 2rem 1rem;

}

section{
    background-color: #2EC4B6;
    border-radius: 2rem;
    
}

p, a{
    padding: 2rem 1rem;
}

h2{
    text-align: center;
    padding-top: 2rem;
}


li{
    background-color: darkcyan;
    color: yellow;
    border: 2px solid darkcyan;
    border-radius: 1rem;
    width: fit-content;
    
}

.kunskap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 1rem;
    gap: 2rem;
}

.img-wrapp{
    /*display: grid;*/ 
    /*place-items: center;*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 1rem;
}

.footer{
    display: grid;
    justify-content: center;
}




